@model Affinity.Models.Interests

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Interests</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InterestCategoryId" class="control-label">Category</label>
                <select asp-for="InterestCategoryId" class="form-control" asp-items="ViewBag.InterestCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InterestSubCategoryId" class="control-label">Interest</label>
                <select asp-for="InterestSubCategoryId" class="form-control" asp-items="ViewBag.InterestSubCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProfileId" class="control-label">Profile</label>
                <select asp-for="ProfileId" class="form-control" asp-items="ViewBag.ProfileId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
