@model IEnumerable<Affinity.Models.Interests>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1><i class="fa fa-table-tennis text-primary pr-2" aria-hidden="true"></i> My Interests</h1>
    <hr />
    <div class="row">
        <div class="col-sm-12 text-center">
            <h5>Enter your interests, and you'll be automatically matched with people who share the same ones!</h5>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12 text-center">
            <a class="btn btn-outline-primary btn-lg" role="button" asp-action="Create"><i class="fa fa-plus mr-2" aria-hidden="true"></i> Add New</a>
        </div>
    </div>
    <br />
    <hr />
    <div class="row">
        @foreach (var item in Model)
        {
            string interest = item.InterestCategory.InterestCategoryName + ": " + item.InterestSubCategory.InterestSubCategoryName;
            <h3>
                <span class="badge badge-light">
                    <a asp-action="Edit" asp-route-id="@item.InterestId">@interest</a>
                </span>
            </h3>
            <h3>
                <a class="close" role="button" style="padding-top: 6px; color: cornflowerblue;" asp-action="Delete" asp-route-id="@item.InterestId">&nbsp;×&nbsp;</a>
            </h3>
        }
    </div>
</div>