/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url(//db.onlinewebfonts.com/c/a9db6cd9116ff56da3875b35444f0c45?family=GothamBook);

@font-face {
    font-family: "GothamBook";
    src: url("//db.onlinewebfonts.com/t/a9db6cd9116ff56da3875b35444f0c45.eot");
    src: url("//db.onlinewebfonts.com/t/a9db6cd9116ff56da3875b35444f0c45.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/a9db6cd9116ff56da3875b35444f0c45.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/a9db6cd9116ff56da3875b35444f0c45.woff") format("woff"), url("//db.onlinewebfonts.com/t/a9db6cd9116ff56da3875b35444f0c45.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/a9db6cd9116ff56da3875b35444f0c45.svg#GothamBook") format("svg");
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a, a:visited {
    color: darkgray;
}

    a:hover {
        color: grey;
    }

    a:active {
        color: grey;
    }

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'GothamBook', sans-serif !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Matches - Card styles
-------------------------------------------------- */
.picContainer {
    max-width: 10em;
    max-height: 10em;
    float: left;
    padding-right: 10px;
}

.profilePic {
    max-width: 100%;
    max-height: 100%;
}

/* Profile Details
-------------------------------------------------- */
.carouselContainer {
    max-width: 30em;
    max-height: 30em;
}

.carouselImage {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.carousel {
    margin: 0 auto !important;
}

.profileBasics {
    text-align: center;
}

.profileLifestyle {
    text-align: center;
}

.profileInterests {
    color: white;
}

/* Colours
----------------------------------------------- */
.card-header {
    background-color: #91daff !important;
}
