@model Affinity.Models.FriendMessage

@{
    ViewData["Title"] = "Create";
}

<h1><i class="fa fa-comment text-primary mr-2" aria-hidden="true"></i> Send Message</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="SendingUserId" class="form-control" value="@ViewBag.SendingProfileId" hidden />
            </div>
            <div class="form-group">
                <input asp-for="ReceivingUserId" class="form-control" value="99" hidden />
            </div>
            <div class="form-group">
                <input asp-for="MessageContent" class="form-control" />
                <span asp-validation-for="MessageContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="UserRelationshipId" class="form-control" value="@ViewBag.UserRelationshipId" hidden />
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.UserRelationshipId">Back to Messages</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
