@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-sm-12 text-center">
        <img src="~/img/affinityLogoV2.png" style="max-width: 100%;" />
    </div>
</div>
<br />

@if (SignInManager.IsSignedIn(User))
{
    <div class="row text-center">
        <div class="col-sm-6">
            <a class="btn btn-outline-primary btn-lg" style="width: 100%;" role="button" asp-area="" asp-controller="Profile" asp-action="Index">Profile</a>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-outline-primary btn-lg" style="width: 100%;" role="button" asp-area="" asp-controller="Matches" asp-action="Index">Matches</a>
        </div>
    </div>
}
else
{
    <div class="row text-center">

        <div class="col-sm-6">
            <a class="btn btn-outline-primary btn-lg" style="width: 100%;" role="button" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-outline-primary btn-lg" style="width: 100%;" role="button" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </div>
    </div>
}
