@{
    ViewData["Title"] = "Matches";
}

<div>
    <h1 class="display-4">Matches</h1>
    <div class="card">
        <div class="card-header">
            Bob, 25
        </div>
        <div class="card-body">
            <div class="picContainer">
                <img class="profilePic" src="~/img/guyA.jpeg" />
            </div>
            <h5 class="card-title">Arcade games are the best</h5>
            <p class="card-text">Hi I'm Bob and I really like Mario Kart, retro arcade games, and rock music.</p>
        </div>
        <div class="card-footer text-muted">
            Online now - Matched with: Video Games, Rock Music
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">
            Jane, 23
        </div>
        <div class="card-body">
            <div class="picContainer">
                <img class="profilePic" src="~/img/girlA.jpeg" />
            </div>
            <h5 class="card-title">I am a wizard</h5>
            <p class="card-text">I'm Jane and I play D&D all day and all night</p>
        </div>
        <div class="card-footer text-muted">
            Last online 1 day ago - Matched with: Board Games
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">
            John, 26
        </div>
        <div class="card-body">
            <div class="picContainer">
                <img class="profilePic" src="~/img/guyB.jpg" />
            </div>
            <h5 class="card-title">To be or not to be, that is the question</h5>
            <p class="card-text">I really like eating various forms of bread products especially baguettes</p>
        </div>
        <div class="card-footer text-muted">
            Last online 2 days ago - Matched with: Food
        </div>
    </div>
    <br />
    <div class="card">
        <div class="card-header">
            Sarah, 29
        </div>
        <div class="card-body">
            <div class="picContainer">
                <img class="profilePic" src="~/img/girlC.jpeg" />
            </div>
            <h5 class="card-title">How much wood would a woodchuck chuck</h5>
            <p class="card-text">I'm an aspiring instagram model and influencer that likes video games!</p>
        </div>
        <div class="card-footer text-muted">
            Last online 2 days ago - Matched with: Video Games
        </div>
    </div>
</div>
