@model Affinity.Models.Image

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Image</h4>
<hr />
<div class="row">
    @if (TempData["Error"] is string)
    {
    <div class="alert alert-light" role="alert">
        <span class="text-dark"><i class="fa fa-user-circle mr-2" aria-hidden="true"></i>@TempData["Error"]</span>
    </div>
     }
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="ProfileId" class="form-control" asp-items="ViewBag.ProfileId">
            </div>
            <div class="form-group">
                <label asp-for="ImageURL" class="control-label"></label>
                <input asp-for="ImageURL" class="form-control" required />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Image" asp-action="Index" asp-route-profileId="@Model?.ProfileId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
