@model Affinity.Models.Image

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <h1>Image Details</h1>
</div>
<div class="text-center">
    <img class="img-fluid" src="@Model.ImageURL">
</div>
<br />
<div class="row">
    <div class="col-sm-4">
        <a class="btn btn-outline-primary btn-lg" style="width: 100%;" role="button" asp-action="Edit" asp-route-id="@Model.ImageId">Edit</a>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-outline-primary btn-lg" style="width: 100%;" role="button" asp-controller="Image" asp-action="Index" asp-route-profileId="@Model.ProfileId">Back to List</a>
    </div>
    <div class="col-sm-4">
        <a class="btn btn-outline-danger btn-lg" style="width: 100%;" role="button" asp-action="Delete" asp-route-id="@Model.ImageId">Delete</a>
    </div>
</div>
