@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Verified";
}

<h1><i class="fa fa-user text-primary pr-2" aria-hidden="true"></i> @ViewData["Title"]</h1>
<hr />
<br />
<div class="row">
    <div class="col-sm-12">
        <p style="text-align: center;">Thank you! Please login to continue.</p>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <a class="btn btn-outline-primary btn-lg" style="width: 100%;" role="button" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
</div>