@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Human Verification";
}

<h1><i class="fa fa-user text-primary pr-2" aria-hidden="true"></i> @ViewData["Title"]</h1>
<hr />
<br />
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <div class="row">
            <div class="col-sm-12">
                <p style="text-align: center;">Please click the button to confirm you're not a robot!</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <a id="confirm-link" href="@Model.EmailConfirmationUrl">
                    <span class="btn btn-outline-primary btn-lg w-100">
                        <i class="fa fa-robot mr-2" aria-hidden="true"></i> I am not a robot!
                    </span>
                </a>
            </div>
        </div>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}
