@model Affinity.Models.Group

@{
    ViewData["Title"] = "Edit";
}


<h1><i class="fa fa-user text-primary pr-2" aria-hidden="true"></i> Edit Group</h1>

<div>
    <hr />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ProfileId" />
        <input type="hidden" asp-for="GroupId" />
        <div class="card" style="margin-top: 10px;">
            <div style="font-weight: bold;">
                <div class="card-header">
                    <p>
                        <div class="form-group">
                            <label asp-for="GroupName" class="control-label">Group Name:</label>
                            <input asp-for="GroupName" class="form-control" />
                            <span asp-validation-for="GroupName" class="text-danger"></span>
                        </div>
                    </p>
                    <p>
                        <div class="form-group">
                            <label asp-for="GroupDescription"></label>
                            <input asp-for="GroupDescription" class="form-control" tabindex="2" />
                            <span asp-validation-for="GroupDescription" class="text-danger"></span>
                        </div>
                    </p>
                    <p>
                        <div class="form-group">
                            <label asp-for="ImageUrl"></label>
                            <input asp-for="ImageUrl" class="form-control" tabindex="2" />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>
                    </p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <div style="text-align: center;">
                    <a class="btn btn-outline-primary w-100 btn-lg" role="button" asp-action="Details" asp-route-id="@ViewBag.GroupId"><i class="fa fa-users pr-2" aria-hidden="true"></i> Back to Details</a>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <div style="text-align: center;">
                    <input type="submit" class="btn btn-outline-primary w-100 btn-lg" role="button" value="✓ Save">
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
